

body{
  font-family:'Source Sans Pro', Arial, sans-serif;
  font-size: 13pt;
  height: 3500px;
    background-color: rgb(221, 44, 147);
    background-image:
      linear-gradient(
       to bottom left, #590c63,pink
      );
      font-size: 14pt;
}
#parent{
  width: 64em;
max-width: calc(100% - 4em);
margin: 0 auto;
}
#header.alt{
   padding: 112px 80px 64px 80px;
   text-align: center;

 } 
.p1{
  color: white;
  line-height: 30px;
}

.img1{
    border-radius:70%;
    width:85px;
    height:85px;
    display:block;
    max-width:75%;
    margin-top:80px;
    margin-left:auto;
    margin-right: auto;
    box-sizing: inherit;
  }
#nav{
  color: #636363;
  /* width: 64em; */
  padding: 1em;
  background-color: #f7f7f7;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: default;
  text-align:center;
  /* display: block; */
  overflow: hidden;
  box-sizing: inherit;
}

#nav.alt ul li a{
  font-size: 0.9em;
}
#nav ul li a.active{
  background-color: #ffffff;
  box-shadow: none;
}
#nav ul li a{
  display: inline-block;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 1.25em;
  border: 0;
  border-radius: 8px;
}
a{
  text-decoration: none;
}

#nav ul{
  list-style:none;

}

#nav ul li{
  display:inline;
}

/* #nav ul li:last-child{
  clear: both;
} */

a:hover {
  background-color:lightgray !important;
  
}  
#main{
  padding-top:  4.25em;
  background-color: #ffffff;
  color: #636363;
  border-radius:0 0 0.25em 0.25em;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding-top: 15px;

}
.major{
margin: 0 0 32px 0;
display: block;
}
.m{
  background-image:linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);;
  height:1.5px;
  width:120px;
  border-radius:20px;
}
 div a button{
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #dddddd;
  color: #636363 !important;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  display:inline-block;
  font-weight:300;
  height: 3.75em;
  line-height: 2.75em;
  padding: 0 2.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 150px;
}

#base{
  margin-left: 60px;
  float: left;
}
a:hover button{
  background-color:lightgray !important;
}

.im {
border-radius:50%;
display: block;
max-width: 75%;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
box-sizing: inherit;
}
#main header.major h2::after{
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}  
#main .main {
border-top: solid 1px #dddddd;
padding: 5em 5em 3em 5em;
}
header .major{
margin-bottom: 3em;
}
.features{
  display: flex;
  justify-content: center;
  width: calc(100% + 2em);
  margin: 0 0 3em -2em;
  padding: 16px;
  list-style: none;
  text-align: center;
}
 .icon{
 border-radius:70%;
 border-color: #dddddd;
 display: inline-block;
font-size: 6.25rem;
width: 167px;
height:159px;
line-height: 2.2em;
border: solid 1px #dddddd;
text-align: center; 
margin: -1px;
} 
.statistics{
  display: flex;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  cursor: default;
  line-height: 50px;
}
 .statistics li {
  flex: 1;
  padding: 1.5em;
  color: #ffffff;
  text-align: center;
  background-color: #636363;
 }
/* .statistics li .style1 {
 background-color: #efa8b0;
} */
p.content {
  text-align: justify;
  columns: 20em 2;
}
section.special{
  text-align: center;
  }
  ul.actions{
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
  }
  .p {
    color: blue;
  }